*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #481452;
}

body, input, select, button {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft {
  height: 648px;
  width: 648px;
  background-image: url("/images/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: rgba(228, 60, 255, 0.1);
  border: 2px solid rgba(228, 60, 255, 0.3);
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  border-radius: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 20px;
}

.card__logo {
  margin-bottom: 16px;
}

.card__diamond {
  position: absolute;
  right: 32px;
  top: 46px;
  z-index: 2;
}

.card__diamond img {
  width: 90px;
  height: auto;
}


.card__image {
  width: 242px;
  height: 340px;
  border-radius: 24px;
  border: 2px solid rgba(228, 60, 255, 0.3);
  position: relative;
  overflow: hidden;
}

.card__image img {
  width: 242px;
  height: 350px;
  object-fit: cover;
  border-radius: 24px;
}
.card__image::after {
  content:"";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 33.26%, #140025 73.88%);
}

.card__image__content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 42%;
  width: 100%;
  color: #fff;
  z-index: 2;
  font-weight: bold;
  font-size: 14px;
  padding: 0 16px;
}

.card__image__content span{
  font-size: 12px;
  color: #E43CFF;
}
.card__image__info {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
}

.card__image__info svg {
  width: 16px;
}

.card__image__content ul {
  list-style: none;
  font-size: 12px;
  padding: 6px 0;
  font-weight: 400;
}

.row {
  display: flex;
  gap: 4px;
}

div.tag {
  border: 2px solid rgba(228, 60, 255, 0.3);
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 20px;
  font-weight: 400;
}